{% extends "accounts/main.html" %}
{% block content %}
<br>
<div class="row">
    <div class = "col-md">
        <div class = "col-md">
            <div class = "card card-body">
                <h5>Customer</h5>
            </div>
            <div class = "card card-body">
                <table class = "table">
                    <tr>
                        <th>Update customer</th>
                    </tr>
                    <tr>
                        <th>Delete customer</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class = "col-md">
        <div class = "col-md">
            <div class = "card card-body">
                <h5>Contact Information</h5>
            </div>
            <div class = "card card-body">
                <table class = "table">
                    <tr>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <th>Phone</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class = "col-md">
        <div class = "col-md">
            <div class = "card card-body">
                <h5>Customer</h5>
            </div>
            <div class = "card card-body">
                <table class = "table">
                    <tr>
                        <th>Update customer</th>
                    </tr>
                    <tr>
                        <th>Delete customer</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<div class = "row">
    <div class = "col">
        <div class = "card card-body">
            <form method = "get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div clas = "row">
    <div class = col>
        <div class = col-md>
            <div class = "card card-body">
                <table class = "table">

                </table>
        </div>
    </div>
</div>
{% endblock %}
