{% extends "accounts/main.html" %}
{% block content %}
{% include "accounts/status.html" %}
<br>

<div class = "row">
    <div class = "col-md-5">
        <h5>Customer:</h5>
        <br>
        <div class = "card card-body">
            <a class = "btn btn-primary btn-sm btn-block" href="" >create customer</a>
            <table class = "table table-sm">
                <tr>
                    <th>customer</th>
                    <th>Phone</th>
                    
                </tr>
                {% for i in customers %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.phone}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class = "col-md-7">
        <h5>Last 5 orders:</h5>
        <br>
        <div class = "card card-body">
            <a class = "btn btn-primary btn-sm btn-block" href="" >create order</a>
            <table class = "table table-sm">
                <tr>
                    <th>product</th>
                    <th>date ordered</th>
                    <th>status</th>
                    <th>update</th>
                    <th>remove</th>
                </tr>
                {% for i in orders %}
                <tr>
                    <td>{{i.product}}</td>
                    <td>{{i.date_created}}</td>
                    <td>{{i.status}}</td>
                    <td><a href="">update</a></td>
                    <td><a href="">remove</a></td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>



</div>


{% endblock %}
